name: public sync

on:
  push:
    branches:
      - main
    tags:
      - '*'
  workflow_dispatch:

env:
  PUBLIC_REPO_NAME: ${{ github.event.repository.name }}-public

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          ref: main
          fetch-depth: 0
          persist-credentials: false  # disable default token auth

      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ secrets.VGS_GITHUB_CI_BOT_APP_ID }}
          private-key: ${{ secrets.VGS_GITHUB_CI_BOT_APP_PEM_FILE }}
          owner: ${{ github.repository_owner }}
          repositories: |
            ${{ env.PUBLIC_REPO_NAME }}

      - name: sync
        run: |
          git remote add target https://x-access-token:$GH_TOKEN@github.com/$REMOTE_REPO.git
          git push --force target main:main
          git push --tags target
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}
          REMOTE_REPO: ${{ github.repository_owner }}/${{ env.PUBLIC_REPO_NAME }}
